{% extends 'base.html' %}

{% block header %}
  <h1 style="text-align:center">{% block title %}Sign Up{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if message %}
	<p align=center>{{ message }} </p>
	<p align=center>{{ object }}</p>
  {% endif %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
	<label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <input type="submit" value="Sign Up">
  </form>
{% endblock %}