{% extends "layout.html" %}
{% block content %}
	{% if msg %}
		<p>{{ msg }} </p>
	{% endif %}
	<form action="{{ url_for('newRecord') }}" method="POST">
		<table align="center">
			<thead>
				<th colspan="2"><h2 align="center">Candidate Information</h2></th>
			</thead>
			<tbody>
				<tr>
					<td align="left">Candidate Name</td>
					<td align="left"><input type="text" name="name"></td>
				</tr>
				<tr>
					<td align="left">Father's Name</td>
					<td align="left"><input type="text" name="fathername"></td>
				</tr>
				<tr>
					<td align="left">Candidate Email</td>
					<td align="left"><input type="text" name="email"></td>
				</tr>
			</tbody>
		</table>
		<p align="center"><input type="submit" name="submit" value="Add Record"></p>
	</form>
{% endblock content %}