{% extends "layout.html" %}
{% block content %}
	{% if msg %}
		<p>{{ msg }} </p>
	{% endif %}
	<form action="{{ url_for('searchForUpdate') }}" method="POST">
		<p align="center"> Candidate Name &nbsp<input type="text" name="name"> <input type="submit" name="submit" value="Search Record"></p>
		{% block searchForUpdate %}
		{% endblock searchForUpdate %}		
	</form>
{% endblock content %}