{% extends "layout.html" %}
{% block content %}
	<table align="center" style="width:100%">
		<thead>
			<th>
				<tr>
					<td align="left" ><b>Candidate Name</b> </td>
					<td align="left"><b>Father's Name</b> </td>
					<td align="left"><b>Email</b></td>
				</tr>				
			</th>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td align="left">{{ row["name"]}}</td>
					<td align="left">{{ row["fathername"]}}</td>
					<td align="left">{{ row["email"]}}</td>
				</tr>
			{% endfor %}			
		</tbody>
	</table>
{% endblock content %}
