{% extends "layout.html" %}
{% block content %}
	{% if msg %}
		<p>{{ msg }} </p>
	{% endif %}
	<form action="{{ url_for('searchForDelete') }}" method="POST">
		<p align="center"> Candidate Name &nbsp<input type="text" name="name"> <input type="submit" name="submit" value="Search Record"></p>
		{% block searchForDelete %}
		{% endblock searchForDelete %}
	</form>

{% endblock content %}