<!DOCTYPE html>
<html lang="en">
	<head>
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>My App</title>
		{% endif %}

		<!-- We can link to external css and bootstrap files here....
			<link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='file.css')}}"
			here url_for is function in flask i.e. imported as from flask import url_for
			/home/dayanand/Flask_Project/DemonstrationApp/templates/css_styles.css

		-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--Link to external css style sheet...-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css_styles.css')}}">
	</head>
	<body>
		<!-- Header of the website -->
	    <header>
	      <h2> Demonstration Application </h2>
	    </header>
	    <!-- Section of the website -->
	    <section>
	    	<!-- Navigation bar of the website -->
	    	<nav>
	        	<ul>
		          <li><a href="{{ url_for('addrecord') }}">Add Record</a></li>
		          <li><a href="{{ url_for('updaterecord') }}">Update Record</a></li>
		          <li><a href="{{ url_for('viewrecord') }}">View Record</a></li>
		          <li><a href="{{ url_for('deleterecord') }}">Delete Record</a></li>
	        	</ul>
	      	</nav>
	      
	     	<article>
		    <!-- Content of the website -->
				{% block content %}

				{% endblock %}
	    	</article>
	    </section>

		<!-- Footer of the website -->
	    <footer>
	    	<p>authorized @ Sukkur IBA Executive Development Center (EDC) developed by our team using Flask Microframework  </p>
	    </footer>
	</body>
</html>