{% extends "updaterecord.html" %}
{% block content %}
	{% if msg %}
		<p>{{ msg }} </p>
		<p>{{object}}</p>
	{% endif %}

	<form action="{{ url_for('update') }}" method="POST">
		{% block searchForUpdate %}
		<table align="center">
			<thead>
				<th colspan="2"><h2 align="center">Update Candidate Information</h2></th>
			</thead>
			<tbody>
				<tr>
					<td align="left">Candidate Name</td>
					<td align="left"><input type='name' name='name' value="{{ object[0]['name'] }}"></td>
				</tr>
				<tr>
					<td align="left">Father's Name</td>
					<td align="left">{{object[0]['fathername']}}</td>
					<td align="left"><input type="fathername" name="fathername"></td>
				</tr>
				<tr>
					<td align="left">Candidate Email</td>
					<td align="left">{{object[0]['email']}}</td>
					<td align="left"><input type="email" name="email"></td>
				</tr>
			</tbody>
		</table>
		{% endblock searchForUpdate %}
		<p align="center"><input type="submit" name="submit" value="Update Record"></p>
	</form>
{% endblock content %}
