{% extends "deleterecord.html" %}
{% block content %}
	{% if msg %}
		<p>{{ msg }} </p>
		<p>{{ object }}</p>
	{% endif %}
	<form action="{{ url_for('delete') }}" method="POST">
		{% block searchForDelete %}
		<table align="center">
			<thead>
				<th colspan="2"><h2 align="center">Delete Candidate Information</h2></th>
			</thead>
			<tbody>
				<tr>
					<td align="left">Candidate Name</td>
					<td align="left"><input type="text" name="name" value="{{ object['name']}}"></td>
				</tr>
				<tr>
					<td align="left">Father's Name</td>
					<td align="left">{{ object['fathername']}}</td>
				</tr>
				<tr>
					<td align="left">Candidate Email</td>
					<td align="left">{{ object['email'] }}</td>
				</tr>
			</tbody>
		</table>
		{% endblock searchForDelete %}
		<p align="center"><input type="submit" name="submit" value="Delete Record"></p>
	</form>
{% endblock content %}
