{% extends 'base.html' %}

{% block header %}
  <h1 style="text-align:center">{% block title %}Profile{% endblock %}</h1>
  <a class="action" href="{{ url_for('dashboard.update', username=person['username']) }}">Edit</a>
{% endblock %}

{% block content %}
	{% if object %}
		<p align=center>{{ object }}</p>
	{% endif %}
	<form action="/action_page.php">
		<label for="username">User Name:</label>
		<input type="text" name="username" value="{{person['username']}}" readonly>
		<br>  
		<label for="password">Password:</label>
		<input type="password" name="password" value="{{person['password']}}" readonly>
		<br>
		<label for="email">Email:</label>
		<input type="email" name="email" value="{{person['email']}}" readonly>
		<br>
	</form> 
{% endblock %}