{% extends 'base.html' %}

{% block header %}
  <h1 style="text-align:center">{% block title %} Profile {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
		<label for="username">User Name:</label>
		<input type="text" name="username" value="{{person['username']}}" required>
		<br>  
		<label for="password">Password:</label>
		<input type="password" name="password" value="{{person['password']}}" required>
		<br>
		<label for="email">Email:</label>
		<input type="email" name="email" value="{{person['email']}}" required>
		<br><br>
		<input type="submit" value="Save">
		<br>
  </form> 
  <hr>
{% endblock %}