<!doctype html>
<title>{% block title %}{% endblock %} - myApp</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div style="background-color:blue; color:white; padding:1px">
	<h1 style="color:Orange; text-align:center; font-size:50px">Welcome To Web API Demo!<br>Sukkur IBA University</h1>
</div>
<nav>
  <h1>This is Menu Bar!</h1>
  <ul>
	{% if g.user %}
      <li><span style="color:Violet">{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Sign Up</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %} 
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
